body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 24px;
    background-color: #141414;
    color: white;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

#incompatible-browser {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    padding: 20px;
}

body.hide-cursor {
    cursor: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-section {
    padding: 20px;
}

a,
button {
    display: flex;
    padding: 15px 30px;
    margin: 10px;

    background-color: #5b5b5b;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a:hover,
button:hover {
    background-color: #0056b3;
}

#sessions-list a,
#sessions-list button {
    background-color: transparent;
    border: 1px solid #5b5b5b;
    position: relative;
}

#sessions-list a:hover,
#sessions-list button:hover {
    background-color: #ccc;
    border: 1px solid #5b5b5b;
    color: black;
    opacity: 0.8;
}

#sessions-list a.selected,
#sessions-list button.selected {
    background-color: #ccc;
    color: #000;
    opacity: 1;
}

.content-section {
    margin-top: 20px;
}

.content-card {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 1500px) {
    .container {
        max-width: 1000px;
    }
}

@media (max-width: 1300px) {
    .container {
        max-width: 800px;
    }

    .navbar ul li {
        margin-right: 10px;
    }
}

.right {
    text-align: -webkit-right;
}

#lists {
    width: 100%;
    display: flex;
}

#sessions-list, #episodes-list {
    width: 100%;
}

#episodes-list a,
#episodes-list button {
    position: relative;
}

#loading {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.loading-dots {
    display: flex;
    margin-top: 10px;
}

.loading-dots div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFF;
    margin: 0 5px;
    animation: loading-animation 1s infinite ease-in-out;
}

@keyframes loading-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

body.video {
    background: black;
}

body.video h1 {
    position: absolute;
    top: 10px;
    z-index: 10000;
    color: white;
    padding: 0 1em;
}

body.video #controls {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#video-container {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#controls {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 97%;
}

#controls button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#progress-container {
    flex-grow: 1;
    margin: 0 10px;
    color: white;
    gap: 20px;
    display: inline-flex;
    font-size: 20px;
    align-items: center;
    width: 90%;
}

#controls-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#progress-bar {
    width: 100%;
    height: 10px;
    position: relative;
}

#progress {
    background: #689ec9;
    width: var(--p);
    height: 10px;
    border-radius: 4px 0 0 4px;
}

#progress-bar-dot {
    outline: inherit;
    content: attr(style);
    white-space: nowrap !important;
    text-indent: -4ch !important;
    overflow: hidden !important;
    position: absolute !important;
    background: rgb(97, 107, 147) !important;
    border: 5px solid transparent !important;
    border-radius: 50% !important;
    top: -50% !important;
    left: var(--p) !important;
    /* transform: translate(calc(-1* var(--p)), -50%) !important; */
    color: #FFF !important;
    height: 20px !important;
    width: 20px !important;
    padding: 0;
    margin: 0;
}

#progress-bar-dot:active,
#progress-bar-dot:focus,
#progress-bar-dot:hover {
    background: rgb(165, 176, 224) !important;
}

.hidden {
    display: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-out-element {
    animation: fadeOut 5s forwards;
}

@keyframes bgTransition {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#next-episode {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 1000;
    font-size: 22px;
    background: linear-gradient(to right, white 50%, #0056b3 50%);
    background-size: 200% 100%;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    animation: bgTransition 10s linear;
}

#next-episode:hover {
    animation-play-state: paused;
}

.list-progress {
    height: 4px;
    width: calc(100% - 12px);
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 6px;
}

/* Styles for the error popup */
#error-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#error-popup h2 {
    margin-top: 0;
}

#error-popup pre {
    background-color: red;
    padding: 10px;
    overflow: auto;
    max-height: 300px;
}

#error-popup button {
    margin-top: 10px;
    padding: 5px 10px;
}